.body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App{
  background-color: rgb(215, 219, 250);
  width: 400px;
  height: 60%;
  margin: 100px;
  padding: 20px;
  border-radius: 2px;
}
.task{
  padding: 5px;
  margin: 2px;
  text-align: left;
  border: 2px solid rgb(148, 147, 226);
  background-color: white;
  height: 30px;
  border-radius: 2px;
  font-size: medium;
}
.form{
  margin-top: 30px;
}
.form input{
  border: 2px solid rgb(148, 147, 226);
  height: 30px;
  border-radius: 2px;
  font-size: medium;
}
button{
  margin-left: 20px;
  border: 2px solid rgb(148, 147, 226);
  border-radius: 2px;
  font-size: medium;
  width: 30px;
  height: 30px;
  cursor: pointer;
}